<div class="full-page" style="background-color:#ffd000">

    <div class="row">
        <div class="col s4" >
            <a href="/"><img src="../assets/eatwitheyes_y.png" style="height:110px; margin-left:18px;"></a> 
        </div>
        <div class="col s4">
            <div class="heading" style="background:url(/assets/yum-logo-text) center no-repeat; background-size: contain; height:110px; margin:auto;">
            </div>
        </div>            
        <div class="col s4">
            <div class="fixed-action-btn horizontal" style="top: 25px; right: 24px;height: 50px;">
                <a class="btn-floating btn-large red">
                  <i class="large material-icons">?</i>
                </a>
                <ul>
                  <li><a class="btn-floating red filter" id="pizza" style="background: url('../assets/HungryEyesNY-Pizza.jpg') center no-repeat; background-size: cover;"><i class="material-icons"></i></a></li>
                  <li><a class="btn-floating yellow darken-1 filter" id="burger" style="background: url('../assets/eyes-burger.jpeg') center no-repeat; background-size: cover;"><i class="material-icons"></i></a></li>
                  <li><a class="btn-floating green filter" id="donut" style="background: url('../assets/eyes-donut.jpeg') center no-repeat; background-size: cover;"><i class="material-icons"><i class="material-icons"></i></a></li>
                  <li><a class="btn-floating blue filter" id="icecream" style="background: url('../assets/eyes-icecream') center no-repeat; background-size: cover;"><i class="material-icons"></i></a></li>
                  <li><a class="btn-floating reset" style="background-color:#df5496"><i class="material-icons">X</i></a></li>      
                </ul>
            </div>
        </div> 

          
    </div>          

<div class="gridster" style="margin:4%;">
    <ul>
        <% i = 1 %> 
        <% k = 0 %>
        <% z = [1, 2] %>
        <%@pic.each_slice(3) do |pics| %>
            <%pics.each do |p| %>

            <li class="gridster-cell <%=p.name%>" data-row="<%=k+1%>" data-col="<%=i%>" data-sizex="<%=z.sample%>" data-sizey="<%=z.sample%>" style="background: url(<%=p.image.url(:medium)%>) center no-repeat; border: solid 3px white; background-size: cover;"> <p class='info' style="color:white;">info</p>
                <div id='<%=p.id%>'style="display:none">
                    <p><%=p.restaurant%></p>
                    <p><%=p.address%></p>
                </div>
            </li>

            <% i+=1 %>
            <% end %>
        <% i = 1 %>
        <% k+=1 %>
        <% end %>     
    </ul>
</div>
<br>
<br>
<div id='outterbutton'>
    <div id='innerbutton'>
        <div style="background-color:#ffd000">
             <a class="btn-floating btn-large waves-effect waves-light red" style="float:right; margin-right:26px"><i class="material-icons formicon">+</i></a>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>

<div id='out'>

    <div id='in'>

        <%= render 'form' %>
    </div>
</div>


<br> 


<% name_array = [] %>

<%@pic.each do |pics|%>

<% name_array << pics.name %>
<%end%>

<table>
<tr>
<%name_array.uniq.each do |name|%>

<td><p class='filter' id="<%=name%>"><%=name%></p></td>

<%end%>
<td><p class='reset'> clear </p></td>
<td><p class="nofilter"> show/hide</p></td>
</tr>
</table>

<br>


</div>
</div>


