THIS IS A LIST OF ALL THE PICTURES
<br>
<%= image_tag("eatwitheyes_yellow.png", :style => "height: 320px") %> 
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h2> oh hey </h2>
		</div>	
		<div class="col-md-4">
			<h2> oh hey </h2>
		</div>			
		<div class="col-md-4">
			<h2> oh hey </h2>
		</div>	
	</div>
</div>		
<br>
<br>
<br>

<%@pic.each do |pics|%>
Food: <%= pics.name %>


<br>
Restaurant: <%= pics.restaurant %>
hello
Address: <%= pics.address %>
<br>

<%= image_tag pics.image.url(:medium) %>

<br>
<br>
<br>

<% end %>

<br>
<br>
<br>

<%= form_tag("/", method: "get") do %>
  <%= submit_tag("home page") %>
<%end%>

<h1>New Picture</h1>

<%= render 'form' %>

<h2> something</h2>
<br>
<div class="gridster">
    <ul>
        <% i = 0 %> 
        <%@pic.each_slice(3) do |pics| %>
            <% i+=1 %>
            <%pics.each do |p| %>
            <li class="gridster-cell" data-row=<%"#{i}"%> data-col=<%"#{i}"%> data-sizex="1" data-sizey="1"><%= image_tag p.image.url(:medium) %></li>

            <%end%>
        <%end%>     
    </ul>
</div>
<br>
<br>
<br>
<!-- 
<div class="gridster">
    <ul>
        <li class="gridster-cell" data-row="1" data-col="1" data-sizex="1" data-sizey="1" resize.enabled:true>Block1</li>
        <li class="gridster-cell" data-row="2" data-col="1" data-sizex="1" data-sizey="1">Block2</li>
        <li class="gridster-cell" data-row="3" data-col="1" data-sizex="1" data-sizey="1">Block3</li>

        <li class="gridster-cell" data-row="1" data-col="2" data-sizex="2" data-sizey="1">Block4</li>
        <li class="gridster-cell" data-row="2" data-col="2" data-sizex="2" data-sizey="2">Block5</li>

        <li class="gridster-cell" data-row="1" data-col="4" data-sizex="1" data-sizey="1">Block6</li>
        <li class="gridster-cell" data-row="2" data-col="4" data-sizex="2" data-sizey="1">Block7</li>
        <li class="gridster-cell" data-row="3" data-col="4" data-sizex="1" data-sizey="1">Block8</li>

        <li class="gridster-cell" data-row="1" data-col="5" data-sizex="1" data-sizey="1">Block9</li>
        <li class="gridster-cell" data-row="3" data-col="5" data-sizex="1" data-sizey="1">Block10</li>

        <li class="gridster-cell" data-row="1" data-col="6" data-sizex="1" data-sizey="1">Block11</li>
        <li class="gridster-cell" data-row="2" data-col="6" data-sizex="1" data-sizey="2">Block12</li>
    </ul>
</div> -->

